@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@import "tailwindcss";

*{
    font-family: Outfit;
}
/* Remove default Chrome outline */
*:focus {
  outline: none;
}

/* Show focus only for keyboard users */
*:focus-visible {
  outline: 2px solid #2563eb; /* blue-600 */
  outline-offset: 2px;
}
.rich-text {
  font-size: 15px;
  color: #7a7b7d;
  line-height: 1.7;
}

.rich-text p {
  margin-bottom: 16px;
}

.rich-text h1 {
  font-size: 36px;
  font-weight: 800;
  color: #252525;
  margin: 32px 0;
}

.rich-text h2 {
  font-size: 22px;
  font-weight: 700;
  color: #252525;
  margin: 24px 0;
}

.rich-text h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  margin: 20px 0;
}

.rich-text ul {
  margin-left: 30px;
  list-style-type: disc;
}

.rich-text li {
  margin-bottom: 8px;
}